@import '../../global.scss';

.contact{
    background-color: #E6E2DD;
    display: flex;
    @include mobile {
        flex-direction: column;
    }

    .left{
        flex: 1;
        overflow: hidden;
    

    img{
        height: 100%;

        }
    }
    .right{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h2{
                font-size: 30px;
                span{
                    font-size: 20px;
                    color: #6667AB;
                  }
                @include desktop {
                    font-size: 60px;
                }
            }
            form{
                width: 70%;
                height: 70%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                input{
                    width: 300px;
                    height: 30px;
                    font-size: 14px;
                    background-color: #E6E2DD;
                    @include mobile {
                        width: 200px;
                        height: 20px;
                    }
                    @include desktop {
                        width: 400px;
                        height: 50px;
                        font-size: 20px;
                    }
                }
                textarea{
                    width: 300px;
                    height: 200px;
                    font-size: 14px;
                    background-color: #E6E2DD;
                    @include mobile {
                        width: 200px;
                        height: 100px;
                    }
                    @include desktop {
                        width: 400px;
                        height: 300px;
                        font-size: 20px;
                    }
                }

                button{
                    width: 150px;
                    height: 30px;
                    color: #FFB600;
                    background-color: #6667AB;
                    border: none;
                    border-radius: 10px;
                    font-weight: 500;
                    cursor: pointer;
                    &:focus{
                        outline: none;
                    }
                    @include desktop {
                        width: 200px;
                        height: 80px;
                        font-size: 20px;
                    }
                }
                span{
                    color: #FFB600;
                }
            }
    }

}