//$mainColor : #15023a;
$mainColor: #646C79;

$width: 768px;
$desktop-width: 1024px;

@mixin mobile{
    @media (max-width: #{$width}){
        @content
    }
};


@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
